{%- comment -%}
  Volume discount message block – shows "Buy 2, get X% off" when the current product
  is configured in the shop JSON metafield volume_discount.rules.
{%- endcomment -%}

{% assign metafield = shop.metafields.volume_discount.rules %}

{% if metafield and metafield.value %}
  {% assign rules = metafield.value %}
  {% assign product_gid = 'gid://shopify/Product/' | append: product.id %}
  {% if rules.products contains product_gid %}
    <div class="volume-discount-widget">
      <span class="volume-discount-widget__label">
        Buy 2, get {{ rules.percentOff }}% off
      </span>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Volume Discount Message",
  "target": "section",
  "settings": []
}
{% endschema %}

